{% extends 'core/base.html' %}

{% block content %}

<table class="table">

    <tbody>

        {% for venue in venue_list %}
        <tr>
            <td>
                <a href="{% url 'show_venue' venue.id %}">{{venue}}</a><br>
            </td>
            <td align="right">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'update_venue' venue.id %}">Update</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>

    <br>

    <h4>Venues</h4>

</table>

{% endblock %}